<nav>
  	<a routerLink="/login" routerLinkActive="active">Connexion</a>
</nav>
<div>
	<h2>Scéance n°{{ session.id }}</h2>
	<p><i>{{ session.date }}</i></p>

	<table class="bg--light-gray">
		<thead>
			<tr>
				<td></td>
				<td class="bold" *ngFor="let movie of session.movies">
					{{ movie.name }}
				</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let voter of session.users">
				<td class="bold">{{ voter.name }}</td>
				<td *ngFor="let movie of session.movies" class="txt--center bg--off-white">
					<i class="fa"
						[ngClass]="{'fa-check fnt--green': hasVoted(voter, movie), 'fa-times fnt--red': !hasVoted(voter, movie)}">
					</i>
				</td>
			</tr>
		</tbody>
	</table>
</div>
